.nab-links{
   
    color: #e00068e7;
    margin-left: 20px; 
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;

    &:hover{
        color: #e00068e7 !important;
    }
   
}

.nab-links-mobile{
    color: #e00068e7;   
    font-family: 'Bebas Neue', cursive  !important;
    font-size: 1.5em;

    &:hover{
        color: #e00068e7 !important;
    }
}